<%- include('layout/layout.ejs') %>
    <div class="container">
        <div class="containerTransparent">
          <img src="img/filming.jpg" alt="about1" style="width:100%;">
          <div class="content">
            <h1><%= Text %></h1>
            <br>
          </div>
        </div>
    
        <div class="container">
          <table class="styled-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Jméno</th>
                    <th>Příjmení</th>
                    <th>Datum narození</th>
                    <th>Jméno postavy</th>

                </tr>
            </thead>
            <tbody>
              <% for(var i = 0; i < herci.length; i++) { %>
                <tr>
                    <td><%= herci[i].idherci%></td>
                    <td><%= herci[i].jmeno%></td>
                    <td><%= herci[i].prijmeni%></td>
                    <td><%= herci[i].datum_narozeni.getDate() + ". " +  herci[i].datum_narozeni.getMonth() + ". " + herci[i].datum_narozeni.getFullYear()%></td>
                    <td><%= herci[i].jmeno_postavy%></td>
                </tr>
              <% } %>
            </tbody>
          </table>
          <% if('./loginController/LoggedIn') { %>
            <div class="padding">
              <div class="center">
                <button type="button" class="btn btn-outline-success"> <a href="/addActor">Přidat herce</a> </button>
              </div>
            </div>
          <% } %>
        </div>
    </div>

    <br><footer><div class="container"><small><a>© 2021 Dominik Borek</a><br><a>E-mail: <i>borek_dominik@oauh.cz</i></a></small></div></footer>
</body>
</html>